<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
    {% block head %}
        <meta charset="utf-8" />
            <meta name="description" content="{% block metadesc %}{{ DEFAULT_METADESC|e }}{% endblock %}" />
            <meta name="author" content="{{ AUTHOR }}" />

            <!-- Bootstrap styles -->
            <link rel="stylesheet" href="{{ SITEURL }}/theme/bootstrap/bootstrap.min.css">
            <link rel="stylesheet" href="{{ SITEURL }}/theme/bootstrap/bootstrap-theme.min.css">

            <!-- Font-Awesome -->
            <link rel="stylesheet" href="{{ SITEURL }}/theme/fonts/font-awesome.min.css">

            <!-- Google Webfonts -->
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CPT+Serif:400,400italic' rel='stylesheet' type='text/css'>

            <!-- Styles -->
            <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ MAIN_STYLESHEET }}" id="theme-styles">
            <!--[if lt IE 9]>
                <script src="modules/respond/html5-3.6-respond-1.1.0.min.js"></script>
            <![endif]-->

            <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ SITEURL }}/theme/js/jquery.min.js"><\/script>')</script>
            <!--
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
            <link href="{{ SITEURL }}/theme/static/css/style.css" rel="stylesheet" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            -->
            <title>{% block title %}{{ SITENAME }} - {% endblock %}</title>

            {% if FEED_ALL_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
            {% endif %}
            {% if FEED_ALL_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
            {% endif %}
            {% if FEED_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
            {% endif %}
            {% if FEED_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
            {% endif %}
            {% if CATEGORY_FEED_ATOM and category %}
            <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
            {% endif %}
            {% if CATEGORY_FEED_RSS and category %}
            <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
            {% endif %}
            {% if TAG_FEED_ATOM and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
            {% endif %}
            {% if TAG_FEED_RSS and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
            {% endif %}
    {% endblock head %}
    {% block fbcomments %}    
 
    {% endblock fbcomments %}
    </head>

    <body>
        <link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON|default('favicon.ico') }}" />
        <header>
            {% block header1 %} {% endblock header1 %}
            {% block header2 %} {% endblock header2 %}
        </header>
        {% block content %}
        {% endblock %}

        {% block SIDEBAR %}
        {% endblock %}
        
    <footer>
        {% block footer %}
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-wpforms"></i>Statistics</h3>

                        <span>Even we sometimes loose track of how many articles we actually have here.  This one helps:</span>

                        <div class="stats">
                            <div class="line">
                                <span class="counter">{{ authors | count }}</span>
                                <span class="caption">Authors</span>
                            </div>
                            <div class="line">
                                <span class="counter"> {{ articles | count }}</span>
                                <span class="caption">Articles</span>
                            </div>
                            <div class="line">
                                <span class="counter">{{ tags | count}}</span>
                                <span class="caption">Tags</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-star"></i> Hall of Fame</h3>
                        <ul class="tales-list">
                            <li><a href="index.html">Why we Need to Encrypt All Communication</a></li>
                            <li><a href="#">Selling is a Function of Design. Not Vice-Versa.</a></li>
                            <li><a href="#">It’s Hard To Come Up With Dummy Titles</a></li>
                            <li><a href="#">Why the Internet is Full of Cats</a></li>
                            <li><a href="#">Last Made-Up Headline, I Swear!</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>Contact Us</h3>

                        <span>We are happy to hear from our readers. Thoughts, feedback, critique - all welcome! Drop us a line:</span>

                        <span class="email">
                            <a href="#">info@abodewithin.com</a>, PGP key
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
            <div class="container">
                Copyrights &copy; 2017 <a href={{ SITEURL }}> abodewithin</a>
            </div>
        </div>
    {% endblock footer %}
    </footer>
    <!-- End footer -->

        <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/modernizr-custom.js"></script>
    </body>
</html>
