<div class="widewrapper subheader">
    <div class="container">
        <div class="tales-breadcrumb">
            <a class="active" href="{{ SITEURL }}/" title="Home"><i class="fa fa-home fa-fw fa-lg"></i></a>
        </div>
        <div class="tales-searchbox">
            <form action="#" method="get" accept-charset="utf-8">
                <button class="searchbutton" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <input class="searchfield" id="searchbox" type="text" placeholder="Search">
            </form>
        </div>
    </div>
</div>