<style type="text/css">

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

</style>

<div id="share-buttons">

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=http://abodewithin.com" target="_blank">
        <img src="{{ SITEURL }}/theme/images/social/1/facebook.png" alt="Facebook" />
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/share?url=http://abodewithin.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="{{ SITEURL }}/theme/images/social/1/twitter.png" alt="Twitter" />
    </a>

    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=http://abodewithin.com" target="_blank">
        <img src="{{ SITEURL }}/theme/images/social/1/google.png" alt="Google" />
    </a>

    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://abodewithin.com/" target="_blank">
        <img src="{{ SITEURL }}/theme/images/social/1/linkedin.png" alt="LinkedIn" />
    </a>

    <!-- Pinterest
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
        <img src="{{ SITEURL }}/theme/images/social/1/pinterest.png" alt="Pinterest" />
    </a>
    -->
    <!-- Buffer
    <a href="https://bufferapp.com/add?url=http://abodewithin.com&amp;text=abode.within" target="_blank">
        <img src="{{ SITEURL }}/theme/images/social/1/buffer.png" alt="Buffer" />
    </a>
    -->
    <!-- Digg
    <a href="http://www.digg.com/submit?url=http://abodewithin.com" target="_blank">
        <img src="{{ SITEURL }}/theme/images/social/1/diggit.png" alt="Digg" />
    </a>
    -->
    <!-- Email
    <a href="mailto:?Subject=abode.within&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://abodewithin.com">
        <img src="{{ SITEURL }}/theme/images/social/1/email.png" alt="Email" />
    </a>
    -->
    <!-- Print
    <a href="javascript:;" onclick="window.print()">
        <img src="{{ SITEURL }}/theme/images/social/1/print.png" alt="Print" />
    </a>
    -->
    <!-- Reddit
    <a href="http://reddit.com/submit?url=http://abodewithin.com&amp;title=abode.within" target="_blank">
        <img src="{{ SITEURL }}/theme/images/social/1/reddit.png" alt="Reddit" />
    </a>
    -->
    <!-- StumbleUpon
    <a href="http://www.stumbleupon.com/submit?url=http://abodewithin.com&amp;title=abode.within" target="_blank">
        <img src="{{ SITEURL }}/theme/images/social/1/stumbleupon.png" alt="StumbleUpon" />
    </a>
    -->
    <!-- Tumblr
    <a href="http://www.tumblr.com/share/link?url=http://abodewithin.com&amp;title=abode.within" target="_blank">
        <img src="{{ SITEURL }}/theme/images/social/1/tumblr.png" alt="Tumblr" />
    </a>
    -->
    <!-- VK
    <a href="http://vkontakte.ru/share.php?url=http://abodewithin.com" target="_blank">
        <img src="{{ SITEURL }}/theme/images/social/1/vk.png" alt="VK" />
    </a>
    -->
    <!-- Yummly
    <a href="http://www.yummly.com/urb/verify?url=http://abodewithin.com&amp;title=abode.within" target="_blank">
        <img src="{{ SITEURL }}/theme/images/social/1/yummly.png" alt="Yummly" />
    </a>
    -->
</div>