<div>
    <aside class="social-icons clearfix">
    <a href="http://www.twitter.com/yaarrabba" class="social-icon color-one">
            <div class="inner-circle" ></div>
            <i class="fa fa-twitter"></i>
    </a>

    <a href="http://plus.google.com/akaushal09" class="social-icon color-two">
            <div class="inner-circle" ></div>
            <i class="fa fa-google-plus"></i>
    </a>

    <a href="http://www.facebook.com/yaarrabba5" class="social-icon color-three">
            <div class="inner-circle" ></div>
            <i class="fa fa-facebook"></i>
    </a>
    </aside>
</div>